<a href="https://colab.research.google.com/github/mrabhishekmore/colab_data/blob/main/pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -q pyspark==3.4.1 spark-nlp==5.1.2

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 536.3/536.3 kB 49.5 MB/s eta 0:00:00
  Building wheel for pyspark (setup.py) ... done

#RDD

In [11]:
from pyspark.sql import SparkSession
from pyspark.sql import Row

# Create a Spark session
spark = SparkSession.builder.appName("example").getOrCreate()

data = [
    ("John", 25),
    ("Alice", 30),
    ("Bob", 28),
    ("Jane", 35),
    ("Phil", 30)
]
rdd=spark.sparkContext.parallelize(data)

Sample function to create another rdd

In [12]:
def add_suffix_to_name(tuple):
    name_with_suffix = "emp_" + tuple[0]
    return (name_with_suffix, tuple[1])

new_rdd = rdd.map(add_suffix_to_name)

new_rdd.collect()

[('emp_John', 25),
 ('emp_Alice', 30),
 ('emp_Bob', 28),
 ('emp_Jane', 35),
 ('emp_Phil', 30)]

filter

In [13]:
rdd1 = new_rdd.filter(lambda x: x[1] <=30)
rdd1.collect()

[('emp_John', 25), ('emp_Alice', 30), ('emp_Bob', 28), ('emp_Phil', 30)]

groupBY

In [22]:
grouped_rdd = new_rdd.groupBy(lambda x: x[1]).mapValues(lambda x: [val[0] for val in x])


# Print the result as list
print(grouped_rdd.collect())

# Print the result as dict
print(grouped_rdd.collectAsMap())

[(30, ['emp_Alice', 'emp_Phil']), (28, ['emp_Bob']), (25, ['emp_John']), (35, ['emp_Jane'])]
{30: ['emp_Alice', 'emp_Phil'], 28: ['emp_Bob'], 25: ['emp_John'], 35: ['emp_Jane']}